@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #041562;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 30px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

#boton-mascota {
    width: 100px;
    height: 50px;
    background-color: grey;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background-color: #114685;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #032146;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    background-color: #114685;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Fredoka One', cursive;
}

#notificaciones {
    display: flex;
    flex-direction: column;
    width: 180px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

#tarjetasMokepones {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.tarjetas-combate {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}